*{
    margin: 0;
    border: 0;
    font-family: 'Rockwell', 'Roboto', 'Calibri', 'Georgia', sans-serif;
    color: #0f1820;
}

body{
    background-color: #ffffff;
}

header, footer{
    background-color: #0f1820;
    display: flex;
    align-items: center;
    width: 96.5vw;
    justify-items: center;
}

footer{
    justify-content:center;
    width: 99vw;
    height: 15vh;
}

footer > img{
    width: 10vw;
}

footer p{
    font-size: 1em;
    color: #a0f1f3;    
}

header{    
    justify-content: space-between;
    height: 18vh;
    padding: 15px;  
}

header p{
    font-weight: bold;
    font-size: 3em;
    color: #a0f1f3
}

header section:first-child{
    display: flex;
    justify-content: space-between;
    width: 28vw;
    justify-items: center;
    align-items: center;
}

header section:last-child{
    display: flex;
    width: 15vw;
    justify-items: center;
    align-items: center;
}

main {
    display: flex;
    width: 30vw;
}

main > section {
    height: 160vh;
}

article {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

article > p{
    color: #0f1820;
    text-align: left;

}

nav {
    padding: 1%;
    height: 70vh;
    border: #0f1820 2px solid;
    margin: 5px;
    justify-content: space-between;
}

nav section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 10vw;
}

nav section:first-child{
    height: 20vh;
    padding: 2vh;
}

nav section:last-child{
    height: 30vh;
    justify-content: flex-end;
}

nav a{
    text-decoration: none;
    color: #0f1820;
    font-size: 1.3em;
    font-weight: bold;
}

#logo {
    width: 7vw;
}

#lupa {
    width: 2vw;
    padding-right: 0.85vw;
}

#video1{
    grid-area: 1/1/2/2;
}

#video2 {
    grid-area:1/2/2/3;
}

#video3 {
    grid-area: 1/3/2/4;
}

#video4 {
    grid-area: 1/4/2/5 ;
}

#video5 {
    grid-area: 2/1/3/2;
}

.buscador {
    margin-right: 0.3vw;
    height: 5vh;
    width: 20vw;
    border-radius: 5%;
    background-color: #e4fbfc;
}

.conteudo-principal {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 33%);
    row-gap: 5vw;
    column-gap: 5vw;
}

.imagem-video {
    width: 20vw;
}

.icones-menu{
    width: 1.7vw;
}